.Blog ul{
    margin: 0;
    padding: 0;
}
.Blog li{
    display: inline-block;
    margin:10px;
}

.Blog a{
    text-decoration: none;
}
.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color: orange;
    

}